
.graph-wrapper {
	border: 1px solid #ccc;
	display: flex;
	padding: 10px;
}

.bar-wrapper {
	/*border: 1px solid #000;*/
	display: inline-flex;	/*Positions bars side by side*/
	flex-direction: column;	/*Stacks bar and label*/
	justify-content: flex-end;	/*Grows bar from bottom*/
	align-items: center;	/*Aligns bar label and bar on center horizontally*/
	height: 200px;
	margin: 0px;
}
.title, .bar {
	
}

.bar {
	/*border: 1px solid #000;*/
	/*height: 70%;*/
	width: 30px;
	background: #00AEEF;
	bottom: 0px;
	-webkit-animation: animate-bar 1.25s 1 linear;
}

.title {
	
}

@-webkit-keyframes animate-bar {
    0% { height: 0%; }
}